# app/views/shelters/create_pet.html.erb

<h1>Add New Pet to <%= @shelter.name %></h1>

<form action="/shelters/<%= @shelter.id %>/pets" method='post'>
  <input type='hidden' name='authenticity_token' value='<% form_authenticity_token %>'>
  <input type='hidden' name='pet[shelter_id]' value='<%= @shelter.id %>'>

  <label for='pet[name]'>Pet name:</label><br>
  <input type='text' name='pet[name]'>
  <br><br>
  <label for= 'pet[approx_age]'>Approxamite age:</label><br>
  <input type='text' name='pet[approx_age]''>
  <br><br>
  <label for= 'pet[sex]'>Sex:</label><br>
  <input type='text' name='pet[sex]'>
  <br><br>
  <label for= 'pet[image]'>Image:</label><br>
  <input type='text' name='pet[image]'>
  <br><br>
  <label for= 'pet[description]'>Description:</label><br>
  <input type='textarea' name='pet[description]'>
  <br><br>
  <input type='submit' value='Add pet'>
</form>
