<div class='page-title'>
  <h1>Update <%= @shelter.name %> Information</h1>
</div>

<article class="edit-info">
  <section class='edit-info-box'>
    <%= render partial: 'form', locals: {path: "/shelters/#{@shelter.id}",
                                         method: :patch,
                                         submit_button: 'Update Shelter',
                                         name: @shelter.id,
                                         address: @shelter.address,
                                         city: @shelter.city,
                                         state: @shelter.state,
                                         zip: @shelter.zip} %>
  </section>
</article>
