<div class='page-title'>
  <h1>Create A New Shelter</h1>
</div>
<article class="edit-info">
  <section class='edit-info-box'>
    <%= render partial: 'form', locals: {path: '/shelters',
                                         method: :post,
                                         submit_button: 'Create Shelter',
                                         name: '',
                                         address: '',
                                         city: '',
                                         state: '',
                                         zip: ''} %>
  </section>
</article>
