<div class='page-title'>
  <h1>Update <%= @pet.name %>'s Information</h1>
</div>
<article class="edit-info">
  <section class='edit-info-box'>
    <%= render partial: 'form', locals: {path: "/pets/#{@pet.id}",
                                         method: :patch,
                                         submit_button: 'Update Info',
                                         name: @pet.name,
                                         approx_age: @pet.approx_age,
                                         sex: @pet.sex,
                                         image: @pet.image,
                                         description: @pet.description} %>
  </section>
</article>
