<div class='page-title'>
  <h1>Add New Pet To Shelter</h1>
</div>
<article class="edit-info">
  <section class='edit-info-box'>
    <%= render partial: 'form', locals: {path: "/shelters/#{@shelter_id}/pets",
                                         method: :post,
                                         submit_button: 'Add Pet',
                                         name: '',
                                         approx_age: '',
                                         sex: '',
                                         image: '',
                                         description: ''} %>
  </section>
</article>
