<article class="applicants">
   <h1>All Applications for <%= @pet.name %></h1>

   <section class='applicants-box'>
     <ul>
       <% if @pet.applications.num_of_applications > 0  %>
        <% @pet.applications.each do |app| %>
          <li>Application #<%= app.id %> ---> <%= link_to app.name, "/applications/#{app.id}" %></li>
          <% end %>
       <% else  %>
        <p>This pet currently has no applications</p>
       <% end  %>
     </ul>
   </section>

</article>
