/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html {
  font-family: 'Roboto', sans-serif;
}

header {
  color: white;
  padding: 10px;
  background-color: rgb(24, 210, 141);
}

body {
  background-color: #dedede
}

nav {
  background-color: rgba(219, 245, 6, .65);
  text-align: center;
  padding: 15px;
  display: flex;
  justify-content: space-around;
}

.shelter-box {
  background-color: #17d28c59;
  padding: 10px;
  margin: 10px;
  display: flex;
  justify-content: space-between;
}

.shelter-buttons {
  display: grid;
  justify-items: right;
  align-items: center;
}

#create-shelter-button {
  background-color: #17d28c59;
  padding: 10px;
  margin: 10px;
  text-align: center;
}

.all-favs {
  display: block;
  justify-content: center;
  text-align: center;
}

.all-pets {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.pet-box {
  background-color: #17d28c59;
  padding: 10px;
  margin: 10px;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.adopt-process-button {
  margin: 15px;
  padding: 15px;
  background-color: #a9dbc2;
}

.remove-all-favs {
  margin: 15px;
  padding: 15px;
  background-color: #a9dbc2;
}

.pet-image {
  width: 300px;
  height: 180px;
}

.pet-link {
  text-align: center;
  display: block;
}

a:link {
  text-decoration: none;
  font-weight: bold;
  color: hotpink;
}

a:visited {
  text-decoration: none;
  font-weight: bold;
  color: hotpink;
}

a:hover {
  text-decoration: none;
  font-weight: bold;
  color: white;
}

a:active {
  text-decoration: none;
  font-weight: bold;
  color: hotpink;
}

.pet-buttons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 10px;
  padding: 10px;
}

#sarah {
  height: 250px;
  width: 300px;
  float: right;
  margin: 10px;
}

#welcome-article {
  padding: 10px;
}

.sbid-header {
  display: flex;
  justify-content: space-between;
  margin: 50px;
  background-color: #17d28c59;
}

.sbid-header-info {
  padding-top: 15px;
  padding-left: 40px;
  width: 400px;
}

.sbid-header-info h1 {
  font-size: 30px;
}
.sbid-header-info p {
  font-size: 25px;
  margin-bottom: 5px;
}

.sbid-links-buttons {
  display: grid;
  padding: 30px;
  align-content: normal;
  align-items: center;
  text-align: center;
}

.page-title {
  text-align: center;
}

.create-pet {
  margin: 20px;
  text-align: center;
  padding: 15px;
  background-color: #a9dbc2;
}

.pbid-header {
  display: flex;
  justify-content: space-between;
  margin: 50px;
  background-color: #17d28c59;
  height: 300px;
}

.pbid-header-info {
  padding-bottom: 15px;
  padding-left: 40px;
  width: 400px;
  inline-size: -webkit-fill-available;
}

.pbid-header-info h1 {
  font-size: 30px;
  display: inline-flex;
  margin-bottom: 0;
}
.pbid-header-info p {
  font-size: 18px;
}

.pbid-header-info form {
  display: grid;
  padding-right: 30px;
  padding-top: 10px;
}

.fav-button {
  background-color: #dced6f;
  padding: 5px;
  border: none;
  color: hotpink;
  font-size: 12px;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.5s;
}

.pbid-header-image {
  height: inherit;
}

.pbid-header-image img{
  height: inherit;
}

.edit-info {
  display: flex;
  justify-content: center;
}

.edit-info-box {
  align-text: center;
  background-color: coral;
    padding: 50px;
}

.reviews-box {
  display: table;
  width: -webkit-fill-available;
  justify-content: center;
  margin: 50px;
  background-color: #17d28c59;
  padding: 35px;
}

.reviews-box h1 {
  text-align: center;
}

.review {
  margin: 15px;
}

.review-link {
  display: flex;
  justify-content: center;
}

hr {
  border: 3px solid #dced6f;
  margin-bottom: 25px;
}

.flash-notice {
  text-align:center;
  color: red;
}

.review-buttons {
  padding: 25px;
  display: flex;
  justify-content: space-evenly;
}

.reviews-box p {
  text-align: center;
  font-size: 16px;
}

#missing-favs {
  text-align: center;
}

.remove-fav-first {
  text-align: center;
}

.pet-app-box {
  text-align: center;
}

.all-app-pets {
  display: flex;
  justify-content: center;
  text-align: center;
}

.application-title {
  margin: 15px;
  background-color: #00d4ca8f;
  padding: 10px;
  font-size: 35px;
}

.applicant-info {
  margin: 15px;
  padding: 20px;
  background-color: #17d28c73;
}

.pets-applied-for {
  margin: 15px;
  padding: 20px;
  background-color: beige;
}

.all-favs h1 {
  margin: 15px;
  background-color: #00d4ca8f;
  padding: 10px;
  font-size: 35px;
}

.all-favs p {
  margin: 15px;
  padding: 10px;
  font-size: 25px;
}

.pet-app-box h1 {
  margin: 15px;
  background-color: #00d4ca8f;
  padding: 10px;
  font-size: 35px;
}

.applicants h1 {
  margin: 15px;
  background-color: #00d4ca8f;
  padding: 10px;
  font-size: 35px;
}

.applicants-box {
  background-color: beige;
  margin: 15px;
  padding: 15px;
  font-size: 20px;
}
