<div class='page-title'>
  <h1>Edit This Review</h1>
</div>
<article class="edit-info">
  <section class='edit-info-box'>
    <%= render partial: 'form', locals: {path: "/reviews/#{@review.id}",
                                         method: :patch,
                                         submit_button: 'Edit Review',
                                         title: @review.title,
                                         content: @review.content} %>
  </section>
</article>
